.alert {
  border: 1px solid;
  margin: 4rem 0;
  position: relative;
  .fa-stack {
    margin: 1.2rem 1.2rem 1.2rem 2.4rem;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    float: left;
    & i {
      font-size: 1.4rem;
      top: -0.68rem;
    }
  }
  .fa-times {
    position: absolute;
    top: 0.4rem;
    right: 0.6rem;
    &:hover {
      cursor: pointer;
    }

  }
  p {
    margin: 1.6rem 3.2rem 1.6rem 6.8rem;
    max-width: 80%;
    a {
      font-weight: 600;
    }
  }
  &--warning {
    color: white;
    background-color: $rouge;
    border-color: $rouge;
    p {
      color: white;
    }
    a {
      color: white;
    }
    .fa-stack {
      background-color: white;
      i {
        color: $rouge;
      }
    }
  }
  &--error {
    color: white;
    background-color: $black;
    border-color: $black;
    p {
      color: white;
    }
    a {
      color: white;
    }
    .fa-stack {
      background: white;
      i {
        color: $black;
      }
    }
  }
  &--status {
    color: $red;
    background-color: white;
    border-color: $red;
    p {
      color: $black;
    }
    a {
      color: $red;
    }
    .fa-stack {
      background-color: red;
      i {
        color: white;
      }
    }
  }
}
