.breadcrumb-wrapper {
  .breadcrumb {
    ul {
      li {
        list-style-type: none;
      }
    }
    a {
      text-decoration: none;
      color: $red;
    }
    &.breadcrumb-light {
      a {
        color: white;
      }
    }
  }
}