.breadcrumb-wrapper {
  @include breakpoint(mlarge) {
    margin-top: -5.6rem;
  }

  .breadcrumb {
    ul {
      padding-left: 0;
      li {
        list-style-type: none;
      }
    }
    a {
      font-variant: all-small-caps;
      text-decoration: none;
      color: $red;
      font-weight: 700;
      letter-spacing: 1px;
    }
    &.breadcrumb-light {
      a {
        color: white;
      }
    }
  }
}
