.call-to-action {
  display: flex;
  .cta-copy {
    max-width: 42.4rem;
    padding: 2.4rem 3.2rem;
    background-color: $ivory;
    flex: 1;
     p {
       font-size: 2rem;
       font-weight: 600;
       line-height: 1.2;
     }
  }
  .cta-btn {
    display: flex;
    max-width: 28.6rem;
    background-color: $red;
    padding: 2.4rem 3.2rem;
    flex: 1;
    a {
      display: flex;
      color: white;
      align-items: center;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 1.17;
      text-align: center;
      text-decoration: none;
    }
  }
}