.cta-full-width {

}
.call-to-action {
  @include breakpoint(smedium) {
    display: flex;
  }
  .cta-copy {
    max-width: 100%;
    padding: 2.4rem 3.2rem;
    background-color: $ivory;
    flex: 1;
    border-radius: 4px 4px 0 0;
    @include breakpoint(smedium) {
      max-width: 42.4rem;
      border-radius: 4px 0 0 4px;
    }
     p {
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 600;
       @include breakpoint(mlarge) {
        font-size: 2rem;
        line-height: 1.2;
       }
     }
  }
  .cta-btn {
    display: flex;
    max-width: 100%;
    background-color: $red;
    padding: 2.4rem 3.2rem;
    flex: 1;
    border-radius:  0 0 4px 4px;
    @include breakpoint(smedium) {
      max-width: 28.6rem;
      border-radius: 0 4px 4px 0 ;
    }
    a {
      display: flex;
      color: white;
      align-items: center;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      font-size: 1.8rem;
      line-height: 1.33;
      @include breakpoint(mlarge) {
        font-size: 2.4rem;
        line-height: 1.17;
      }
    }
  }
}