.call-to-action.call-to-action__full-width {
  margin: 0;
  .cta-copy {
    border-radius: 0;
    padding: 2.4rem 2.4rem 2.4rem 0;
    max-width: 100%;
    @include breakpoint(mlarge) {
      max-width: 70%;
      display: flex;
      align-items: center;
      padding: 3.2rem 3.2rem 3.2rem 0;
    }
    @include breakpoint(xlarge) {
      padding: 5.6rem 5.6rem 5.6rem 0;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100vw;
      background: $ivory;
      right: 100%;
      top: 0;
      z-index: -1;
      height: 100%;
      left: calc(-50vw + 50%);
      @include breakpoint(smedium) {
        left: unset;
      }
    }
    p {
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 600;
      margin-bottom: 0;
      @include breakpoint(mlarge) {
        font-size: 2.4rem;
      }
      @include breakpoint(xlarge) {
        font-size: 3.2rem;
        line-height: 1.25;
        margin-bottom: 0;
      }
    }
  }
  .cta-btn {
    border-radius: 0;
    padding: 2.4rem 2.4rem 2.4rem 0;
    @include breakpoint(smedium) {
      padding: 2.4rem 3.2rem;
      max-width: 30%;
    }
    a {
      @include breakpoint(xlarge) {
        font-size: 3.2rem;
      }
    }
    &:after {
      content: "";
      position: absolute;
      width: 100vw;
      background: $red;
      top: 0;
      z-index: -1;
      height: 100%;
      left: calc(-50vw + 50%);
      @include breakpoint(smedium) {
        left: 100%;
        right: unset;
      }
    }
    p {
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 600;
        @include breakpoint(mlarge) {
          font-size: 3.2rem;
          line-height: 1.25;
        }
    }
  }
}
.call-to-action {
  margin: $space_xxl 0;
  max-width: 71rem;
  @include breakpoint(smedium) {
    display: flex;
  }
  @include breakpoint(xxxlarge) {
    max-width: 64%;
  }
  .cta-copy {
    max-width: 100%;
    padding: 2.4rem 3.2rem;
    background-color: $ivory;
    box-shadow: $box-shadow-default;
    flex: 1;
    border-radius: 4px 4px 0 0;
    position: relative;
    z-index: 1;
    @include breakpoint(smedium) {
      max-width: 60%;
      border-radius: 4px 0 0 4px;
    }
    @include breakpoint(mlarge) {
      padding: 3.2rem 4rem;
    }
     p {
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 600;
      margin-bottom: 0;
        @include breakpoint(mlarge) {
          font-size: 2rem;
          line-height: 1.2;
        }
     }
  }
  .cta-btn {
    display: flex;
    max-width: 100%;
    background-color: $red;
    box-shadow: $box-shadow-default;
    padding: 2.4rem 3.2rem;
    flex: 1;
    border-radius:  0 0 4px 4px;
    position: relative;
    z-index: 1;
    @include breakpoint(smedium) {
      max-width: 40%;
      border-radius: 0 4px 4px 0 ;
      padding: 2.4rem 3.2rem;
    }
    a {
      display: flex;
      color: white;
      align-items: center;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      font-size: 1.8rem;
      line-height: 1.33;
      @include breakpoint(mlarge) {
        font-size: 2.4rem;
        line-height: 1.17;
      }
    }
    &.special {
      background-color: $purple;
      &:after {
        background: $purple;
      }
    }
  }

}
.call-to-action__full-width {
  max-width: 100%;
}
