.contact-wrapper {
  .link-mailto,
  .link-tel,
  .link-social {
    display: block;
  }
  i[class*="fa-"] {
    color: $rouge;
  }

  .contact-location,
  .contact-time {
    margin-bottom: 0.8rem;
    padding-left: 2rem;
    i[class*="fa-"] {
      display: inline-block;
      margin-left: -2rem;
    }
    p {
      display: inline-block;
      margin-bottom: 0rem;
      margin-left: 1rem;
      width: 85%;
      font-size: 1.4rem;
      @include breakpoint(small) {
        width: 90%;
        font-size: 1.8rem;
      }
      @include breakpoint(xxxlarge) {
        width: 96%;
      }
    }
  }
  .contact-block {
    position: relative;
    margin: 12rem 0;
    &:after {
      content: '';
      background: url('/images/contact-block-lg.svg') no-repeat;
      background-size: contain;
      position: absolute;
      top: -4rem;
      left: -82px;
      height: calc(100% + 8rem);
      width: 100%;
      z-index: 0;
    }
  }
  .contact-block-content {
    position: relative;
    background-color: white;
    padding: 3.2rem 3rem;
    box-shadow: $box-shadow-default;
    z-index: 2;
    border-radius: 0.4rem;
    h3 {
      padding-top: 0;
    }
    h4 {
      padding-top: 0;
    }
    a {
      display: inline-block;
      margin: 0 0 0.8rem 1rem;
      width: 85%;
      font-size: 1.4rem;
      @include breakpoint(small) {
        width: 90%;
        font-size: 1.8rem;
      }
      @include breakpoint(xxxlarge) {
        width: 96%;
      }
    }
  }
  .contact-block-feather {
    height: 372px;
    position: relative;
    left: -128.5px;
  }
}
