.contact-wrapper {
  .link-mailto {
    display: block;
  }
  .link-tel {
    display: block;
  }
  .link-social {
    display: block;
  }
  a {
    display: block;
    margin-bottom: 0.8rem;
  }
  i[class*="fa-"] { color: $rouge; }

  .contact-location,
  .contact-time {
    margin-bottom: 0.8rem;
    i[class*="fa-"] {
      display: inline-block;
    }
    p { display: inline-block; }
  }
  p { margin-bottom: 0; }
  .contact-block {
    position: relative;
    padding: 6rem 0;
    max-width: 498px;
    &:after {
      content: '';
      background: url('/images/contact-block.svg') no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: -82px;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
  }
  .contact-block-content {
    position: relative;
    background-color: white;
    padding: 3.2rem 3rem;
    box-shadow: $box-shadow-default;
    z-index: 2;
  }
  .contact-block-feather {
    height: 372px;
    position: relative;
    left: -128.5px;
  }
}