.featured-linked-content {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 5.6rem;
  z-index: 2;
  @include breakpoint(mlarge) {
    padding-top: 6.4rem;
    padding-bottom: 10.4rem;
  }
  &:before {
    content: '';
    background: url('/images/optional-linked-content.svg') no-repeat top left;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .featured-linked-content-item {
    width: 176px;
    padding: 0.8rem;
  }

  .featured-linked-content-wrapper {
    position: relative;
    max-width: 710px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 1.6rem;
    @include breakpoint(smedium) {
      grid-template-columns: repeat(3, 33%);
      grid-gap: 1.6rem;
    }
    @include breakpoint(mlarge) {
      grid-template-columns: repeat(4, 25%);
      grid-gap: 2.4rem;
    }
    h4 {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.33;
      color: $red;
      margin-bottom: 0.4rem;
    }
    p {
      font-size: 1.6rem;
      line-height: 1.25;
    }
  }
}