.hero {
    height: 49.5rem;
    margin-top: 15rem;
    position: relative;
    @include breakpoint(mlarge) {
      padding-top: 100px;
      margin-top: 0;
    }
    &__container {
      position: absolute;
      left: 0;
      top :-12rem;
      width: 100%;
      @include breakpoint(mlarge) {
        top: calc(50% + 100px);
        transform: translateY(-50%);
      }
    }
    h1 {
      @include breakpoint(mlarge) {
        color: white;
      }
    }
    img {
      object-fit: cover;
      height: calc(min(100vh, 49.5rem));
      width: 100%;
      z-index: -1;
    }
    .breadcrumb-wrapper {
      .breadcrumb.light a {
        color: $red;
        @include breakpoint(mlarge) {
          color: white;
        }
      }
    }
}