//
// *NOTE: It is not recommended that you use these styles in their present form! It would be advisable to use these as reference only. Build your custom styles while keeping mobile-first, accessibility, and modularity top of mind.
//
.hero {
    height: 49.5rem;

    position: relative;
    @include breakpoint(mlarge) {
      padding-top: 100px;
    }
  &__container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
  // &__content {
  //   max-width: 128.8rem;
  //   margin: 0 auto;
  //   z-index: 1;
  //   width: 100%;
  // }
  h1 {
    color: white;
  }

  img {
    object-fit: cover;
    height: calc(min(100vh, 49.5rem));
    width: 100%;
    z-index: -1;
  }
}