.full-width-img {
  position: relative;
  z-index: 1;
  width: fit-content;
  // max-width: 71rem;
  margin: 4rem 0;
  // @include breakpoint(xxxlarge) {
  //   max-width: 64%;
  // }
  img {
    border-radius: 0.4rem;;
  }
  &:after {
    content: '';
    background: url('/images/full-width-img-bg.svg') no-repeat bottom right;
    background-size: contain;
    position: absolute;
    right: -2.4rem;
    bottom: -2.4rem;
    height: 100%;
    min-width: 286px;
    z-index: -1;
    @include breakpoint(mlarge) {
      right: -3.2rem;
      bottom: -3.2rem;
    }
    @include breakpoint(lxlarge){
      right: -10.6rem;
      bottom: -3.2rem;
    }
  }
}
.image-alignment {
  .text-media {
    margin-bottom: 2rem;
    display: flex;
    max-width: 71rem;
    align-items: center;
    flex-direction: column;
    @include breakpoint(smedium) {
      flex-direction: row;
    }
    @include breakpoint(xxxlarge) {
      max-width: 64%;
    }
  }
  .img-right {
    @include breakpoint(smedium) {
      flex-flow: row-reverse;
    }
  }
  .right-aligned {
    margin: 1rem 0;
    width: 100%;
    order: 1;
    text-align: right;
    @include breakpoint(smedium) {
      flex: 1 0 50%;
      order: unset;
      margin: 0 0 1rem 2rem;
    }
    @include breakpoint(mlarge) {
      flex: 1 0 392px;
      margin: 2rem 0 0 3.2rem;
    }
    img{
      max-width: 100%;
      width: 100%;
      border-radius: 0.4rem;
    }
  }
  .left-aligned {
    margin: 1rem 0;
    width: 100%;
    flex: 1;
    @include breakpoint(smedium) {
      flex: 1 0 50%;
      margin: 0 2rem 1rem 0;
    }
    @include breakpoint(mlarge) {
      flex: 1 0 392px;
      margin: 0 3.2rem 2rem 0;
    }
    img{
      max-width: 100%;
      width: 100%;
      border-radius: 0.4rem;
    }
  }
}
