.listing-form-holder {
   margin-bottom: 2.4rem;
   .select-listing {
    max-width: 60.4rem;
    width: 100%;
  }
  .form-group.container-grid {
    grid-gap: 3.2rem;
    grid-template-columns: 50% 50%;
  }
  form {
    border-bottom: 0.1rem solid #424242;
    padding-bottom: 2.4rem;
  }
}
.listing-content-wrapper {
  header {
    display: flex;
    justify-content: space-between;
    .sort-order {
      display: flex;
      > p {
        font-size: 1.2rem;
        line-height: 2;
      }
      a {
        font-size: 1.6rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        color: $black;
        padding-left: 2.5rem;
        text-decoration: none;
        &.is-active{ font-weight: bold; text-decoration: underline;}
      }
    }
    .listing-item-details {
      p {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 2;
      }
    }
  }
}
