// mobile menu toggle
// for other animation style examples, see https://jonsuh.com/hamburgers/

$mobile_toggle-layer-width: 3.2rem !default;
$mobile_toggle-layer-height: 0.5rem !default;
$mobile_toggle-layer-spacing: 0.4rem !default;
$mobile_toggle-layer-border-radius: 0.4rem !default;
.menu__top-nav {
  .menu-shopping-cart {
    display: none;
    @include breakpoint(mlarge) {
      top: 0.5rem;
      height: 100%;
      display: block;
      &:after {
        background-color: $black;
      }
      &:hover {
        i {
          color: $orange
        }
      }
      i[class*="fa-"] {
        margin: 0;
      }
    }
  }
}
.menu-shopping-cart {
  width: 36px;
  height: 36px;
  position: relative;
  @extend %transition;
  &:after{
    position: absolute;
    right: 0;
    top: 0;
    content: attr(data-count);
    font-size: 50%;
    padding: 3px 0;
    border-radius: 50%;
    color: white;
    text-align: center;
    background: $red;
    height: 18px;
    width: 18px;
  }
  &:hover {
    i {
      color: $rouge;
    }
  }
  i {
    height: 36px;
    width: 36px;
    vertical-align: sub;
    @extend %transition;
  }
}
.mobile_toggle {
  overflow: visible;
  margin: 0;
  padding: 1rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &.is-active .mobile_toggle__icon {
    background-color: transparent !important;
    transition-delay: 0.2s;

    &,
    &::before,
    &::after {
      border-radius: $mobile_toggle-layer-border-radius;
    }

    &::before,
    &::after {
      top: 0;
    }

    &::before {
      background-color: $rouge;
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
        color 0.2s ease;
      transform: translate3d(
          0,
          $mobile_toggle-layer-spacing + $mobile_toggle-layer-height,
          0
        )
        rotate(45deg);
    }

    &::after {
      background-color: $rouge;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
        color 0.2s ease;
      transform: translate3d(
          0,
          $mobile_toggle-layer-spacing + $mobile_toggle-layer-height,
          0
        )
        rotate(-45deg);
    }
  }
}

.mobile_toggle__inner {
  position: relative;
  display: block;
  width: $mobile_toggle-layer-width;
  height: $mobile_toggle-layer-height * 3 + $mobile_toggle-layer-spacing * 2;
}

.mobile_toggle__icon {
  top: $mobile_toggle-layer-height / 2;
  display: block;
  margin-top: $mobile_toggle-layer-height / -2;
  transition: background-color 0s 0.13s linear;

  &,
  &::before,
  &::after {
    position: absolute;
    width: $mobile_toggle-layer-width;
    height: $mobile_toggle-layer-height;
    border-radius: $mobile_toggle-layer-border-radius;
    background-color: $black;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: $mobile_toggle-layer-height + $mobile_toggle-layer-spacing;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &::after {
    top: ($mobile_toggle-layer-height * 2) + ($mobile_toggle-layer-spacing * 2);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
