.related-card-wrapper {
  max-width: 28.6rem;
  background: white;
  box-shadow: $box-shadow-default;
  padding: 2.4rem 2.4rem 0 2.4rem;
  border-radius: 4px;
  float: right;
  display: none;
  @include breakpoint (large){
    display: block;
  }

  h4 {
    padding-top: 0;
  }
}
.related-card {
  margin-bottom: 2.4rem;

  h4 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11;
    margin-bottom: 0.64rem;
    & a {
      color: $rouge;
    }
  }
  p {
    font-size: 1.6rem;
  }
}
