.tabs-wrapper {
  margin: $space_xxl 0;
  max-width: 71rem;
}
ul.tab-list {
  width: 100%;
  max-width: $container;
  padding: 0;
  margin: 0;
    display: flex;
    align-items: center;
    height: 100%;

  li {
    display: inline-block;
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
    background-color: $light-peach;
      margin-right: 2px;
      height: 57px;
    &:last-child {
      margin-right: 0;
    }
    &.is-active {
      background-color: white;
      a {
        border-bottom: 0;
      }
    }
  }

  a {
    display: block;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid $orange;
    border-radius: 0.4rem 0.4rem 0 0;
    color: $black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.13;
        text-align: center;
        height: 100%;
    @include breakpoint(mlarge) {
      padding: 1.5rem 2.3rem;
      font-size: 2rem;
      line-height: 1.2;
    }
  }
}
section.tab-content {
  display: none;
  border: 1px solid $orange;
  margin-top: -2px;
  padding: 3.2rem 4rem;
  background-color: white;
  &.is-active {
    display: block;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.5;
    @include breakpoint(mlarge) {
      font-size: 1.8rem;
      line-height: 1.56;
    }
  }
}

