.title-tabs {
  margin-bottom: 8rem;
}
.tabs-wrapper {
  max-width: 71rem;
  max-width: 100%;
  margin: 0;
  @include breakpoint(smedium){
    margin: 0 -2.4rem;
    max-width: 100%;
  }
  @include breakpoint(xxxlarge) {
    max-width: 100%;
  }
}
ul.tab-list {
  width: 100%;
  max-width: $container;
  padding: 0;
  margin: 0;
    display: flex;
    align-items: center;
    height: 100%;

  li {
    display: inline-block;
    margin-bottom: 0;
    background-color: $light-peach;
      margin-right: 2px;
      height: fit-content;
    &:last-child {
      margin-right: 0;
    }
    &.is-active {
      background-color: white;
      a {
        border-bottom: 1px solid transparent;
        font-weight: 700;
      }
    }
  }

  a {
    display: block;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid $orange;
    border-radius: 0.4rem 0.4rem 0 0;
    color: $black;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.13;
        text-align: center;
        height: 100%;
    @include breakpoint(mlarge) {
      padding: 1.56rem 2.4rem;
      font-size: 2rem;
      line-height: 1.2;
    }
  }
}
section.tab-content {
  display: none;
  border: 1px solid $orange;
  margin-top: -1px;
  padding: 2.4rem 2.4rem 1.2rem 2.4rem;
  background-color: white;
  @include breakpoint(mlarge){
    padding: 2.4rem 2.4rem;
    // padding: 4rem 4rem 3.2rem 4rem;
  }
  &.is-active {
    display: block;
  }
  h1, h2, h3, h4, h5, h6 {
    padding-top: 0;
    margin-bottom: 1.2rem;
    max-width: 49.8rem;
  }
  p {
    @include breakpoint(xxxlarge) {
      max-width: 80%;
    }
  }
}
