.tags {
  a {
    font-size: 1.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.89;
    color: white;
    background-color: $rouge;
    padding: 0.6rem 1.2rem 0.6rem;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(66, 66, 66, 0.24);
    }
  }
}
.tags__program-course {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 1px;
  color: white;
  background-color: $rouge;
  padding: 0.3rem 1.2rem 0.5rem;
  border-radius: 0 4px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.tags-light {
  a {
    color: $rouge !important;
    background-color: white;
  }
}