.tags {
  a {
    font-size: 1.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.89;
    color: white;
    background-color: $rouge;
    padding: 0.6rem 1.2rem 1rem;
    border-radius: 4px;
    text-decoration: none;
  }
}