%transition {
  transition: all 0.3s ease-in-out;
}

%scroll-x {
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

%pseudo-cover {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
