.button,
button,
input[type="submit"] {
  @extend %transition;
  display: inline-block;
  width: auto;
  height: auto;
  padding: $space_xs;
  border: solid 0.1rem $light_grey;
  border-radius: 0.4rem;
  color: $black;
  line-height: 1;
  letter-spacing: normal;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    background-color: $buttongrey;
  }

  &:focus {
    box-shadow: 0 0 0.1rem 0.2rem $yellow;
  }
}
