// TODO: not prod code
.button-styles-wrapper {
  padding-right: 0 important;
  padding-left: 0 !important;
}
.button-styles {
  &.dark-bg {
    background-color: $rouge;
    padding: 4rem 3.2rem .8rem 3.2rem;
    margin: 3.2rem 0;
    @include breakpoint(mlarge) {
      padding: 4rem 6.4rem .8rem 6.4rem;
    }
  }
}
// TODO  ^^
.btn,
.button,
button,
input[type="submit"] {
  @extend %transition;
  display: inline-block;
  width: auto;
  height: auto;
  padding: $space_xs $space_md;
  border: solid 0.2rem $red;
  border-radius: 0.4rem;
  background-color: white;
  line-height: inherit;
  letter-spacing: normal;
  font-weight: 600;
  margin: 0 2.4rem 2.4rem 0;
  cursor: pointer;
  background-color: $red;
  color: white;
  border: solid 0.2rem $red;
  @include breakpoint(mlarge) {
    margin: 0 3.2rem 3.2rem 0;
  }
  @include breakpoint(xxxlarge) {
    // max-width: 30.8rem;
  }

  &:link,
  &:visited {
    text-decoration: none;
    color: white;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(66, 66, 66, 0.24);
    color: $white;
  }

  &:focus {
    box-shadow: 0 0 0.1rem 0.2rem $yellow;
  }

  &.secondary {
    background-color: transparent;
    color: $red;
    border: solid 0.2rem $red;
    &:hover {
      color: $red;
      }
    &__reverse {
      background-color: transparent;
      color: $white;
      border: solid 0.2rem white;
    &:hover {
      color: $white;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24);
      }
    }
  }

  &.special {
    background-color: $purple;
    color: white;
    border: solid 0.2rem $purple;
    font-size: 2.4rem;
    font-weight: bold;
    &__reverse {
      background-color: $yellow;
      color: $black;
      border: solid 0.2rem $yellow;
      font-size: 2.4rem;
      font-weight: bold;
      &:hover {
        color: $black;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24);
      }
    }
    &:hover {
      color: white;
    }
  }

  &.__reverse {
    background-color: white;
    color: $red;
    border: solid 0.2rem white;
    &:hover {
      color: $red;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24);
    }
  }

  &.disabled {
    opacity: 40%;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.btn-search-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  color: $black;
  i {
    display: contents;
  }
  &:hover {
    box-shadow: none;
    color: $black;
  }
}
