// TODO: not prod code
.button-styles {
  margin: $space_xxl 0;
}
// TODO  ^^
.btn,
.button,
button,
input[type="submit"] {
  @extend %transition;
  display: inline-block;
  width: auto;
  height: auto;
  padding: $space_xs $space_md;
  border: solid 0.2rem $red;
  border-radius: 0.4rem;
  background-color: white;
  line-height: inherit;
  letter-spacing: normal;
  font-weight: 600;
  margin: 2rem 0;
  cursor: pointer;
  max-width: 308px;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 2px 20px 0 rgba(66, 66, 66, 0.2);
    color: currentColor;
  }

  &:focus {
    box-shadow: 0 0 0.1rem 0.2rem $yellow;
  }
  &.disabled {
    opacity: 40%;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.btn-search-icon {
  position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    i {
      display: contents;
    }
}

.btn-primary {
  background-color: $red;
  color: white;
  border: solid 0.2rem $red;
  &__reverse {
    background-color: white;
    color: $red;
    border: solid 0.2rem white;
    &:hover {
      color: $red;
    }
  }
  &:hover {
    color: white;
  }
}
.btn-secondary {
  background-color: transparent;
  color: $red;
  border: solid 0.2rem $red;
  &__reverse {
    background-color: transparent;
    color: white;
    border: solid 0.2rem white;
  }
  &:hover {
    color: $red;
  }
}
.btn-special {
  background-color: $purple;
  color: white;
  border: solid 0.2rem $purple;
  font-size: 2.4rem;
  font-weight: bold;
  &__reverse {
    background-color: $yellow;
    color: $black;
    border: solid 0.2rem $yellow;
    font-size: 2.4rem;
    font-weight: bold;
    &:hover {
      color: $black;
    }
  }
  &:hover {
    color: white;
  }
}