form {
  position: relative;
}
label {
  font-size: 1.8rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: $black;
}
input,
select {
  width: 100%;
  max-width: 60rem;
  min-height: 4.8rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  line-height: 1.5;
  &:focus {
    outline-color: $peach;
  }
}
.norQuest-dark {
  input {
    border: solid 0.1rem $grey;
    background-color: white;
  }
  label { color: white; }
}
input {
  border: solid 0.1rem $yellow;
  border-radius: 0.4rem;
  background-color: $ivory;
  color: $grey;
  &:disabled {
    opacity: 0.3;
  }
  &:focus {
    background: white;
    border: solid 0.1rem $orange;
    outline: $orange;
  }
}

select {
  padding: 0.7rem 1.2rem;
  border: 1px solid $yellow;
  border-radius: 0.4rem;
  background-color: $ivory;
  color: $grey;
}

.select2-container--norQuest.select2-container {
  width: 100%;
  max-width: 60rem;
  min-height: 4.8rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1.5;
  border: 1px solid $yellow;
  border-radius: 0.4rem;
  background-color: $ivory;
  color: $grey;
  &:focus {
    outline-color: $peach;
  }
  &.select2-results {
    border: none;
  }
  &.select2-container--open {
    .select2-dropdown--below {
      border-top: none;
      border-right: 1px solid #ffbd00;
      border-bottom: 1px solid #ffbd00;
      border-left: 1px solid #ffbd00;
    }
  }
  &.select2-container--below.select2-container--open {
    border-top: 1px solid $orange;
    border-left: 1px solid $orange;
    border-right: 1px solid $orange;
  }
  .select2-selection__rendered {
    font-weight: bold;
  }
  button {
    background-color: transparent;
    border: none;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    color: $red;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 0.4rem;
    margin: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    span {
      top: -13px;
      position: relative;
    }
    &:hover { box-shadow: none;}
  }
  .select2-dropdown {
    border: 1px solid $yellow;
    background: $ivory;
    .select2-search--dropdown {
      input {
        background: white
      }
    }
  }
  .select2-search__field{
    background-color: $ivory;
    min-height: 3.2rem;
    font-family: inherit !important;
    margin-top: 0.9rem !important;
    &:focus {
      outline: none !important;
    }
  }
  .select2-selection__choice {
    background-color: white;
    min-height: 3.2rem;
    border-radius: 2px;
    width: fit-content;
    display: inline-block;
    padding: 0.3rem 2.4rem 0.3rem 0.8rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    border: 1px solid #e1e1e1;
    position: relative;
  }
  .select2-selection__choice__display {
    font-weight: bold;
    color: $black;
  }
  .select2-selection__rendered {
    min-height: 3.2rem;
    width: fit-content;
    display: inline-block;
    padding: 0.9rem 2rem 0.9rem 0.8rem;
    margin: 0;
    position: relative;
  }
  .select2-selection__placeholder {
    font-weight: 300;
  }
}

// used on dark background only not default
.select2-container--norQuest-dark.select2-container {
  width: 100%;
  max-width: 60rem;
  min-height: 4.8rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1.5;
  border: 1px solid $grey;
  border-radius: 0.4rem;
  background-color: white;
  color: $grey;
  &:focus {
    outline-color: $peach;
  }
  &.select2-results {
    border: none;
  }
  &.select2-container--open {
    .select2-dropdown--below {
      border-top: none;
      border-right: 1px solid #ffbd00;
      border-bottom: 1px solid #ffbd00;
      border-left: 1px solid #ffbd00;
    }
  }
  &.select2-container--below.select2-container--open {
    border-top: 1px solid $orange;
    border-left: 1px solid $orange;
    border-right: 1px solid $orange;
  }
  .select2-selection__rendered {
    font-weight: bold;
  }
  button {
    background-color: transparent;
    border: none;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    color: $red;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 0.4rem;
    margin: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    span {
      top: -13px;
      position: relative;
    }
    &:hover { box-shadow: none;}
  }
  .select2-dropdown {
    border: 1px solid $grey;
    background: white;
    .select2-search--dropdown {
      input {
        background: $ivory;
      }
    }
  }
  .select2-search__field{
    background-color: white;
    min-height: 3.2rem;
    font-family: inherit !important;
    margin-top: 0.9rem !important;
    &:focus {
      outline: none !important;
    }
  }
  .select2-selection__choice {
    background-color: $ivory;
    min-height: 3.2rem;
    border-radius: 2px;
    width: fit-content;
    display: inline-block;
    padding: 0.3rem 2.4rem 0.3rem 0.8rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    border: 1px solid #e1e1e1;
    position: relative;
  }
  .select2-selection__choice__display {
    font-weight: bold;
    color: $black;
  }

  .select2-selection__rendered {
    min-height: 3.2rem;
    width: fit-content;
    display: inline-block;
    padding: 0.9rem 2rem 0.9rem 0.8rem;
    margin: 0;
    position: relative;
    color: $black;
  }
  .select2-selection__placeholder {
    font-weight: 300;
  }
}


textarea {
  width: 100%;
  max-width: 75rem;
  padding: 0.75rem 1rem;
  border: solid 0.1rem $offwhite;
  border-radius: 0.4rem;
  background-color: $white;
}

input[id^="edit-reset"] {
  background-color: transparent;
  color: $red;

  &:hover {
    background-color: transparent;
    color: $red;
  }
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  left: 1rem;
  z-index: -1;
  float: left;
  width: auto;
  margin-right: 1rem;
}

// required
input[required="required"] {
  &:focus {
    border: 0.2rem solid $red;
    outline: none;
  }
}

.form-required {
  &::after {
    content: "\002A";
    display: inline;
    vertical-align: middle;
    margin: 0 0.5rem;
    color: $red;
    font-size: 2.2rem;
    line-height: 0;
  }
}

// checkbox/radio
input[type="checkbox"],
input[type="radio"] {
  & + label::before {
    content: "\00a0";
    display: inline-block;
    vertical-align: top;
    width: 4.4rem;
    height: 2.5rem;
    margin: 0 0.5rem 0 0;
    border: solid 0.2rem $offwhite;
    border-radius: 0.4rem;
    background-color: $white;
    font: 1.75rem/1.4em sans-serif;
  }

  &:focus + label::before {
    box-shadow: 0 0 0.1rem 0.2rem $yellow;
  }
}

input[type="checkbox"] {
  &:checked + label {
    &::before {
      content: "\2714";
      color: $black;
      text-align: center;
    }

    &::after {
      font-weight: 700;
    }
  }
}

input[type="radio"] {
  & + label::before {
    border-radius: 50%;
  }

  &:checked + label {
    &::after {
      content: "";
      background-color: $black;
    }
  }
}

// header search
.header-search, .footer-search {
  input {
    height: 4rem;
    max-width: 100%;
  }
}

.form-container {
  padding: 6.4rem 0;
  &.dark-bg {
    h3 { color: white; }
    label { color: white; }
  }
}