form {
  position: relative;
  > p {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }
  &.norQuest-dark {
    > p,
    label,
    span {
      color: white !important;
    }
  }
  // input {
    // border: solid 0.1rem $grey;
    // background-color: white;
  // }

  span.form-item_description {
    display: inherit;
    font-size: 1.4rem;
    margin-top: 0.8rem;
    &.error { color: $rouge; }
    &.success { color: $dark-green; }
    &.verifying { color: $black; }
  }
}
label {
  font-size: 1.8rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: $black;
  display: block;
  margin: 2.4rem 0 0.8rem 0;
}
input,
select {
  width: 100%;
  max-width: 60rem;
  min-height: 4.8rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  line-height: 1.5;
  &:focus {
    outline-color: $peach;
  }
}

input {
  border: solid 0.1rem $yellow;
  border-radius: 0.4rem;
  background-color: $ivory;
  color: $grey;
  &:disabled {
    opacity: 0.3;
  }
  &:focus {
    background: white;
    border: solid 0.1rem $orange;
    outline: $orange;
  }
  &.verifying {
      border: solid 1px $black;
  }
  &.error {
      border: solid 2px $rouge;
  }
  &.success {
      border: solid 1px $dark-green;
  }
}

select {
  padding: 0.7rem 1.2rem;
  border: 1px solid $yellow;
  border-radius: 0.4rem;
  background-color: $ivory;
  color: $grey;
}

.select2-container--norQuest.select2-container {
  width: 100%;
  max-width: 60rem;
  min-height: 4.8rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1.5;
  border: 1px solid $yellow;
  border-radius: 0.4rem;
  background-color: $ivory;
  color: $black;
  &:focus {
    outline-color: $peach;
  }
  &.select2-results {
    border: none;
  }
  &.select2-container--open {
    border: none;
  }
  &.select2-container--below.select2-container--open {
    border: 1px solid $orange;
  }
  .select2-selection__rendered {
    font-weight: bold;
  }
  button {
    background-color: transparent;
    border: none;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    color: $red;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 0.4rem;
    margin: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    span {
      top: -13px;
      position: relative;
    }
    &:hover { box-shadow: none;}
  }
  .select2-dropdown {
    border: 1px solid $yellow;
    background: $ivory;
    .select2-search--dropdown {
      input {
        background: white
      }
    }
  }
  .select2-search__field{
    background-color: $ivory;
    min-height: 3.2rem;
    font-family: inherit !important;
    margin-top: 0.9rem !important;
    &:focus {
      outline: none !important;
    }
  }
  .select2-selection__choice {
    background-color: white;
    min-height: 3.2rem;
    border-radius: 2px;
    width: fit-content;
    display: inline-block;
    padding: 0.3rem 2.4rem 0.3rem 0.8rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    border: 1px solid #e1e1e1;
    position: relative;
  }
  .select2-selection__choice__display {
    font-weight: bold;
    color: $black;
  }
  .select2-selection__rendered {
    min-height: 3.2rem;
    width: fit-content;
    display: inline-block;
    padding: 0.9rem 2rem 0.9rem 0.8rem;
    margin: 0;
    position: relative;
  }
  .select2-selection__placeholder {
    font-weight: 300;
  }
}

// used on dark background only not default
.select2-container--norQuest-dark.select2-container {
  width: 100%;
  max-width: 60rem;
  min-height: 4.8rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1.5;
  border: 1px solid $grey;
  border-radius: 0.4rem;
  background-color: white;
  color: $grey;
  &:focus {
    outline-color: $peach;
  }
  &.select2-results {
    border: none;
  }
  &.select2-container--open {
    .select2-dropdown--below {
      border-top: none;
      border-right: 1px solid #ffbd00;
      border-bottom: 1px solid #ffbd00;
      border-left: 1px solid #ffbd00;
    }
  }
  &.select2-container--below.select2-container--open {
    border-top: 1px solid $orange;
    border-left: 1px solid $orange;
    border-right: 1px solid $orange;
  }
  .select2-selection__rendered {
    font-weight: bold;
  }
  button {
    background-color: transparent;
    border: none;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    color: $red;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 0.4rem;
    margin: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    span {
      top: -13px;
      position: relative;
    }
    &:hover { box-shadow: none;}
  }
  .select2-dropdown {
    border: 1px solid $grey;
    background: white;
    .select2-search--dropdown {
      input {
        background: $ivory;
      }
    }
  }
  .select2-search__field{
    background-color: white;
    min-height: 3.2rem;
    font-family: inherit !important;
    margin-top: 0.9rem !important;
    &:focus {
      outline: none !important;
    }
  }
  .select2-selection__choice {
    background-color: $ivory;
    min-height: 3.2rem;
    border-radius: 2px;
    width: fit-content;
    display: inline-block;
    padding: 0.3rem 2.4rem 0.3rem 0.8rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    border: 1px solid #e1e1e1;
    position: relative;
  }
  .select2-selection__choice__display {
    font-weight: bold;
    color: $black;
  }

  .select2-selection__rendered {
    min-height: 3.2rem;
    width: fit-content;
    display: inline-block;
    padding: 0.9rem 2rem 0.9rem 0.8rem;
    margin: 0;
    position: relative;
    color: $black;
  }
  .select2-selection__placeholder {
    font-weight: 300;
  }
}

fieldset {
  border: none;
  padding: 3.2rem;
  background-color: white;
  max-width: 60.4rem;
  box-shadow: $box-shadow-default;
  border-radius: 4px;
}

textarea {
  width: 100%;
  max-width: 75rem;
  padding: 0.75rem 1rem;
  border: solid 0.1rem $offwhite;
  border-radius: 0.4rem;
  background-color: $white;
}

input[id^="edit-reset"] {
  background-color: transparent;
  color: $red;

  &:hover {
    background-color: transparent;
    color: $red;
  }
}

// HIDE input checkbox and radio
input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
    left: -999999px;
    top: 0;
}
input[type="radio"] {
  opacity: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: -1px;
  vertical-align: middle;
}


// required
input[required="required"] {
  &:focus {
    border: 0.2rem solid $red;
    outline: none;
  }
}

.form-required {
  &::after {
    content: "\002A";
    display: inline;
    vertical-align: middle;
    margin: 0 0.5rem;
    color: $red;
    font-size: 2.2rem;
    line-height: 0;
  }
}


// header search
.header-search, .footer-search {
  input {
    height: 4rem;
    max-width: 100%;
  }
}

.form-container {
  padding: 3.2rem 0;
  &.dark-bg {
    h3, h4 { color: white; }
    label { color: white; }
  }
}

.dark-bg {
  input[type="checkbox"]:checked + .checkbox {
    &:before {
      content: "\f00c";
      background-color: $white;
      border: 1px solid $light-grey;
      color: $red;
    }
  }
  input[type="radio"]{
    background: $ivory;
    &:checked {
      border: 6px solid white;
      background-color: $red;
      background: $red;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.check {
  position: relative;
  padding-left: 3.2rem;
}
.checkbox {
  position: absolute;
  cursor: pointer;
  height: 2.6rem;
  width: 2.6rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  @extend %transition;
  font-family: "Font Awesome 5 Free";
  color: white;
  &:before {
    position: absolute;
    content: "";
    height: 2.6rem;
    width: 2.6rem;
    left: 0;
    bottom: 0;
    @extend %transition;
    border-radius: 3px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6;
      background-color: $ivory;
      border: 1px solid $yellow;
  }
}
input[type="checkbox"]:checked + .checkbox {
  &:before {
    content: "\f00c";
    background-color: $red;
    border: 1px solid $red;
  }
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled + .checkbox,
label.disabled {
    opacity: 0.5 !important;
    cursor: not-allowed;
}
input[type="radio"] {
  min-height: 2.6rem;
  max-width: 2.6rem;
  padding: 3px;
  background-clip: content-box;
  border: 2px solid $yellow;
  background-color: $ivory;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: $red;
  border: 1px solid $red;
}

/* Toggle */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $ivory;
  border: 1px solid $yellow;
  @extend %transition;
  font-family: "Font Awesome 5 Free";
  color: white;
  &:before {
    position: absolute;
    content: "\f00d";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $rouge;
    @extend %transition;
    border-radius: 3px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.7;
  }
}

input:checked + .slider {
  &:before {
    content: "\f00c";
    background-color: $red;
  }
}

input:focus + .slider {
  box-shadow: $box-shadow-default;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}