$container: 120rem;
$base_font: 10px;
$font_size: 1.8rem;
$line_height: 1.8;

// Colors

:root {
  --black: #424242;
  --grey: #6e7371;
  --light_grey: #e1e1e1;
  --ivory: #fff7e9;
  --ffffff: #ffffff;
  --rouge: #ae2830;
  --red: #e71321;
  --yellow: #ffbd00;
  --orange: #f58b2e;
  --peach: #ffdea3;
  --light-peach: #fff5ec
  --purple: #702f8a;
}

$black: #424242;
$grey: #6e7371;
$light_grey: #e1e1e1;
$ivory: #fff7e9;
$rouge: #ae2830;
$red: #e71321;
$yellow: #ffbd00;
$orange: #f58b2e;
$peach: #ffdea3;
$light-peach: #fff5ec;
$purple: #702f8a;

$offwhite: #acacac;
$buttongrey: #cececd;
$beige: #efeeea;
$white: #fff;
$green: #73a03c;

$background-gradient: linear-gradient(
        to bottom,
        #fcfaf5,
        var(--ffffff)
      );

$lazy-gradient: linear-gradient(
      180deg,
      #acacac,
      #b5b5b5,
      #bfbfbf,
      #c8c8c8,
      #d2d2d2,
      #dbdbdb,
      #e5e5e5,
      #efefef
    );

$dark-gradient-bg: linear-gradient(
     to left,
     $purple,
     $rouge 90%
     );

$box-shadow-default: 0 5px 10px 0 rgba(66, 66, 66, 0.1);