h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: $black;
  font-family: $primary_font;
}

h1 {
  // viewport min/max must be in ems for proper rendering, so font size min/max must also be passed as ems
  // 40px = 2.5em, 64px = 4em
  @include interpolate(font-size, $xs, $xxlarge, 2.5em, 4em);
  // pass line height in units relative to font-size of parent element (ems)
  @include interpolate(line-height, $xs, $xxlarge, 1.2em, 1.1em);
  font-weight: bold;
  @include breakpoint(mlarge) {
    margin-bottom: 8rem;
  }
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.19;
  @include breakpoint(mlarge) {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 3.2rem;
  }
}

h3 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.1;
  @include breakpoint(mlarge) {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1.25rem;
  }
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  @include breakpoint(mlarge) {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 1.25rem;
  }
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  @include breakpoint(mlarge) {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
  }
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

p {
  margin-bottom: 1rem;
  font-size: $font_size;
  font-family: $primary_font;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.44;
  color: $black;
}

p.lead {
  margin-bottom: 1rem;
  font-size: $font_size;
  font-family: $primary_font;
  line-height: $line_height;
}

blockquote {
  margin-bottom: 1.5rem;
  padding: 1rem;
  position: relative;
  padding: 1.1rem 3.2rem;
  @include breakpoint(mlarge) {
    padding: 2.2rem 6.4rem;
  }
  p {
    max-width: 498px;
    color: $rouge;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: normal;
    margin-left: 1.2rem;
    @include breakpoint(mlarge) {
      font-size: 2.4rem;
    }
  }
  &:before {
    content: '';
    background: url('/images/quotation-small-dark.svg');
    font-size: 3.2rem;
    position: absolute;
    top: 0;
    left: 0;
    color: $rouge;
    height: 25px;
    width: 32px;
    @include breakpoint(mlarge) {
      background: url('/images/quotation-large-dark.svg');
      height: 50px;
      width: 64px;
      font-size: 6.4rem;
    }
  }
}

small {
  display: block;
  margin: 0;
  color: $grey;
  font-size: 1.8rem;
}

// default WYSIWYG text styles
b,
strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}
