main {
  &.home {
    @include breakpoint(smedium) { // 640
      padding: 0;
      margin: 0;
    }
    header {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0;
      .title {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 100;
        display: flex;
        align-items: flex-end;
        padding: 2em;
        h1 {
          text-transform: uppercase;
          color: $white;
          font-weight: 900;
          margin: 0;
          font-size: 5rem;
          line-height: 0.9em;
        }
      }
      .media {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 90;
        overflow: hidden;
        min-height: 600px;
        picture {
          display: flex;
          width: 100%;
          height: 100%;
          img {
            object-fit: cover;
            height: auto;
            width: 100%;
            object-position: top center;
          }
        }
      }
      @include breakpoint(small) {
        .title {
          h1 {
            font-size: 8rem;
          }
        }
      }
      @include breakpoint(smedium) {
        height: auto;
        max-height: auto;
        .title {
          padding: 4em 2em;
          h1 {
            font-size: 10rem;
          }
        }
        .media {
          min-height: calc(500px + 2em);
        }
      }
      @include breakpoint(mlarge) {
        grid-template-columns: 3em 1fr 3em;
        grid-template-rows: 1fr;
        .title {
          grid-area: 1 / 2 / 2 / 3;
          align-items: center;
          padding: 0;

          h1 {
            font-size: 10rem;
            line-height: 0.9em;
          }
        }
        .media {
          grid-area: 1 / 1 / 3 / 4;
        }
      }
      @include breakpoint(lxlarge) {
        grid-template-columns: 1fr $medium 1fr;
        .title {
          h1 {
            font-size: 7em;
            line-height: 0.9em;
          }
        }
      }
      @include breakpoint(xxlarge) {
        grid-template-columns: 1fr $lxlarge 1fr;
        .title {
          h1 {
            font-size: 8em;
            line-height: 0.9em;
          }
        }
      }
    }
    nav {
      background: linear-gradient(to left, $red, $rouge);
      z-index: 200;
      padding: 2em;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          h3, p {
            color: $white;
          }
        }
      }
      @include breakpoint(smedium) {
        border-radius: 4px;
      }
      @include breakpoint(mlarge) { // 860
        box-shadow: 0 2px 20px 0 rgba(66, 66, 66, 0.2);
        padding: 1.5em;
        ul {
          display: grid;
          grid-template-columns: repeat(3,1fr);
          grid-column-gap: 1.5em;
        }
      }
    }
    article {
      // Typography overrides
      h2 {
        font-weight: 700;
        font-size: 4rem;
        line-height: 4.5rem;
      }
      h3 {
        font-size: 3rem;
      }
      h4 {
        font-size: 2.25rem;
      }

      @include breakpoint(smedium) { // 640
        section {

        }
      }
      @include breakpoint(mlarge) { // 860
        section {
          grid-column: 2;
          padding: 4em 0 0 0;
          &.social-proof {
            grid-column: 2 / span 1;
          }
        }
      }
      @include breakpoint(lxlarge) { // 1024

      }
      @include breakpoint(xxlarge) { // 1200 +

      }
    }
  }
}
