.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  position: relative;
  padding-top: 3.2rem;
  background-image: $background-gradient;
  @include breakpoint(mlarge) {
    padding-top: 18rem;
  }
}
.container-grid {
  box-sizing: content-box;
  display: grid;
  max-width: $container;
  margin: 0 auto;
  padding-right: $space_sm;
  padding-left: $space_sm;

}
.container-flex {
  box-sizing: content-box;
  display: flex;
  max-width: $container;
  margin: 0 auto;
  padding-right: $space_sm;
  padding-left: $space_sm;
}
.container-no {
  position: relative;
  max-width: $container;
  margin: 0 auto;
}

.container {
  @extend .container-no;
  box-sizing: content-box;
  padding-right: $space_sm;
  padding-left: $space_sm;
}
