.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  padding-top: 3.2rem;
  background-image: $background-gradient;
  min-height: 38vh;
  @include breakpoint(mlarge) {
    padding-top: 18rem;
    min-height: 76vh;
  }
  &.has-hero {
    padding-top: 3.2rem;
    @include breakpoint(mlarge) {
      padding-top: 6.4rem
    }
  }
}
.container {
  @extend .container-no;
  box-sizing: content-box;
  padding-right: $space_sm;
  padding-left: $space_sm;
  @include breakpoint(smedium) {
    padding-right: $space_lg;
    padding-left: $space_lg;
  }
  &.margin-top {
    margin: 5rem auto 0;
  }
  &.margin-bottom {
    margin: 0 auto 5rem;
  }
}

.container-60 {
  max-width: 60.4rem;
  margin: 0 auto;
}
.container-768 {
  max-width: 76.8rem;
}
.container-center {
  margin: 0 auto;
  max-width: 100%;
  @include breakpoint(mlarge) {
    max-width: 65%;
  }
}
.container-50 {
  max-width: 100%;
  width: 100%;
  p { max-width: 46.8rem;}
  @include breakpoint (medium) {
    max-width: 50%;
    padding-right: 6.4rem;
    &:nth-last-child(1) { padding: 0; }
  }
}
.container-70 {
  max-width: 100%;
  width: 100%;
  p { max-width: 46.8rem;}
  @include breakpoint (medium) {
    max-width: 70%;
    padding-right: 6.4rem;
    &:nth-last-child(1) { padding: 0; }
  }
}
.container-37 {
  max-width: 100%;
  width: 100%;
  p { max-width: 46.8rem;}
  @include breakpoint (medium) {
    max-width: 37%;
    padding-right: 6.4rem;
    &:nth-last-child(1) { padding: 0; }
  }
}


.container-text {
  max-width: 49.8rem;
  margin-bottom: 6.4rem;
  @include breakpoint(xxxlarge) {
    max-width: 64%;
  }
  &.margin-md h3 {
    margin-bottom: 2.4rem;
  }
}

.container-text-wide {
  max-width: 49.8rem;
  &:last-of-type { padding-left: 0 }
  @include breakpoint(xxxlarge) {
    max-width: 88%;
  }
  @include breakpoint(mlarge) {
    &:last-of-type { padding-left: 3.2rem }
  }
}

.container-grid {
  display: grid;
  grid-template-columns: auto;
  box-sizing: content-box;
  max-width: $container;
  margin: 0 auto;
  grid-gap: 3.2rem;
  @include breakpoint(mlarge) {
    grid-template-columns: auto auto;
  }
  .margin-md {
    margin: .8rem 0 2.8rem 0;
  }

}

.container-flex {
  box-sizing: content-box;
  max-width: $container;
  margin: 0 auto;
  @include breakpoint (medium) {
    display: flex;
  }
}

.container-no {
  position: relative;
  max-width: $container;
  margin: 0 auto;
}

.container-restricted {
  max-width: $containerBasicPage;
  @extend .container;
}