//
// *NOTE: It is not recommended that you use these styles in their present form! It would be advisable to use these as reference only. Build your custom styles while keeping mobile-first, accessibility, and modularity top of mind.
//

nav {
  ul[class^="menu__"] {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: inherit;

    li {
      // padding: 0 2rem;
      a {
        // box-shadow: inset 0 -0.1rem 0 currentColor;
        // transition: 0.3s;

        &:hover {
          // padding-bottom: 0.3rem;
        }
      }
    }

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }
}

.mobile_toggle__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 11rem;
  margin-right: $space_xs;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;

  @include breakpoint(lxlarge) {
    display: none;
  }
}

.mobile_toggle {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -$space_xs;
    width: 11rem;
    height: 11rem;
    background-color: transparent;
    transition: background-color 0.2s ease;
  }

  &.is-active::before {
    background-color: $grey;
  }

  &:hover,
  &:active {
    background-color: transparent;
  }
}

header.header {
  position: fixed;
  width: 100%;
  height: 10rem;
  border-bottom: 1px solid $yellow;
  background-color: white;
  z-index: 1;
  @extend %transition;
  &.stick {
    background-color: $ivory;
    transform: translate3d(0,-36px,0);
    @extend %transition;
    @media screen and (max-width: $medium-down) {
      background-color: $yellow;
    }
    .site-logo {
      align-self: center;
      // @extend %transition;
    }
    svg {
      height: 2.4em;
    }
    #logo-text {
      visibility: hidden;
      @extend %transition;
    }
  }

  .container {
    display: block;
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 3.6rem 6.4rem;
    }
  }
  nav.menu-top-nav {
    position: relative;
    background-color: $red;
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    &:after {
      position: absolute;
      width: 100vw;
      height: 100%;
      background: $red;
      left: 100%;
      top: 0;
      content: "";
    }
    ul {
      &.menu__top-nav {
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        li {
          &:first-child a { margin-left: 0; }
          &:last-child a { margin-right: 0; }
        }
        a {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          margin: 0 2rem 0.5rem 2.1rem;
          color: $white;
        }
      }
    }
  }
  .nav-search {
    position: relative;
    grid-column: 2;
    grid-row: 2/3;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    background: $ivory;
    height: 100%;
    border-bottom: 1px solid $yellow;
    &:after {
      position: absolute;
      width: 100vw;
      height: 100%;
      background: $ivory;
      left: 100%;
      top: 0;
      content: "";
    }
  }
  .site-logo {
    grid-column: 1;
    grid-row: 2;
  }
  svg {
    height: 3.6em;
  }
  #logo-text {
    visibility: visible;
  }
  .header-search {
    width: 100%;
    max-width: 28.6rem;
  }
  nav.menu-primary-nav {
    height: 0;
    opacity: 0;
    visibility: hidden;
    @include breakpoint(medium) {
      display: block;
      height: auto;
      background: none;
      opacity: 1;
      visibility: visible;
    }
    &.is-active {
      @extend %transition;
      display: block;
      height: auto;
      opacity: 1;
      visibility: visible;
    }

    ul[class^="menu__"] {
      li {
        text-align: right;

        a {
          color: $black;
          font-weight: 700;
          font-size: 2rem;

          @include breakpoint(medium) {
            font-size: 1.6rem;

            &:hover {
            }
          }
          @include breakpoint(lxlarge) {
            font-size: 1.5rem;
          }
        }

        @include breakpoint(medium) {

        }

        @include breakpoint(large) {


        }
      }
    }
    li {
      .menu__subnav {
        display: none;
        @include breakpoint(medium) {
          display: none;
          width: 100%;
          grid-template-columns: repeat(4, 268px);
          background-color: white;
          position: absolute;
          left: 2rem;
          z-index: 1;
          background: white;
          columns: 4;
          &:before {
            position: absolute;
            width: 100vw;
            box-shadow: 0 10px 10px 0 rgba(2, 31, 44, 0.05);
            background: white;
            left: calc(-50vw + 50%);
            right: 100%;
            top: 0;
            z-index: -1;
            content: "";
            height: 100%;
          }
          &:after {
            content: "";
            height: 100%;
          }
        }
        &.menu__subnav
        .lvl-2 {}
        &.menu__subnav
        .lvl-3 {
          display: none;
        }
      }
      &:hover {
        .menu__subnav {
          display: grid;
        }
      }
    }
    .menu__content {
      grid-column: 4;
      grid-row: 1/4;
    }
  }
}
