  // START TOP NAV
  nav.menu-top-nav {
    position: relative;
    background-color: $red;
    order: 2;
    @media screen and (max-width: $mlarge-down) {
      max-height: 0;
      transition: all .3s ease;
      overflow:hidden;
      &.is-active {
        display: block;
        max-height: 500px;
        transition: all 1s ease;
      }
    }
    @include breakpoint(mlarge) {
      grid-column: 2;
      grid-row: 1;
      order: unset;
      display: flex;
      justify-content: flex-end;
      padding: 1.2rem 0;
    }
    &:after {
      position: absolute;
      width: 100vw;
      height: 100%;
      background: $red;
      left: calc(0vw + 100%);
      top: 0;
      content: "";
      z-index: 1;
    }
    ul {
      &.menu__top-nav {
        align-items: left;
        height: 100%;
        flex-flow: row wrap;
        @include breakpoint(mlarge) {
          align-items: center;
          flex-flow: row nowrap;
          justify-content: flex-end;
        }
        li {
          width: 50%;
          padding: 1.2rem 0;
          @include breakpoint(mlarge) {
            padding: 0;
            width: auto;
            &:last-child a { margin-right: 0; }
          }
        }
        a {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1;
          margin: 0 6.4rem 0 2.4rem;
          color: $white;
          text-decoration: none;
          @include breakpoint(mlarge) {
            font-size: 1.4rem;
            margin: 0 1rem;
          }
          @include breakpoint(large) {
            margin: 0 1.8rem;
          }
          @include breakpoint(xlarge) {
            font-size: 1.6rem;
            margin: 0 2.4rem;
          }
        }
      }
    }
  }
  // END TOP NAV
